<app-navbar></app-navbar>


<div class="container">
        <div class="row">
    
    <div class="col-md-12 text-center ">
            <div class="panel panel-default">
                <div class="userprofile social ">
                  
                  <div id="left">
                      <div class="userpic"> <img src="/assets/avatar.png" alt="" class="userpicimg"> </div>
                      <h3 class="username">Arun Nalamara</h3>
                      <p>CEO, Ameyem Geosolutions</p>
                      
  
                  </div>
                  
                  <div id="right">
                      <div class="userpic"> <img src="/assets/vil-avatar.png" alt="" class="userpicimg"> </div>
                      <h3 class="username">Bhattuvaripalli</h3>
                      <p>Karempudi, Guntur, India</p>                      
  
                  </div>
                  <div class="socials tex-center"> <a href="" class="btn btn-circle btn-primary ">
                      <i class="fa fa-facebook"></i></a> <a href="" class="btn btn-circle btn-danger ">
                      <i class="fa fa-google-plus"></i></a> <a href="" class="btn btn-circle btn-info ">
                      <i class="fa fa-twitter"></i></a> <a href="" class="btn btn-circle btn-warning ">
                        <i class="fa fa-envelope"></i></a>
                      </div> 
                </div>

                
                                   


                <div class="col-md-12 border-top border-bottom">
                  <ul class="nav nav-pills pull-left countlist" role="tablist">
                    <li role="presentation">
                      <h3>1452<br>
                        <small>Follower</small> </h3>
                    </li>
                    <li role="presentation">
                      <h3>245<br>
                        <small>Following</small> </h3>
                    </li>
                    <li role="presentation">
                      <h3>5000<br>
                        <small>Activity</small> </h3>
                    </li>
                  </ul>
                  <!-- <button class="btn btn-primary followbtn">Follow</button> -->
                </div>
              <div class="clearfix"></div>

          
          
            
            
          </div>
        </div>
        <!-- /.col-md-12 -->
        <div class="container">
        <div class="row">

                <div class="col-md-12">
                    <div class="panel with-nav-tabs panel-info">
                        <div class="panel-heading">
                                <ul id="myTab" class="nav nav-tabs">
                                    <li class="active"><a href="#tab1info"   data-toggle="tab">Home</a></li>
                                    <li><a href="#tab2info"  data-toggle="tab">Profile</a></li>
                                    <li><a href="#tab3info" data-toggle="tab">Village</a></li>
                                    <li class="dropdown">
                                        <a href="#" data-toggle="dropdown">State<span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#tab4info" data-toggle="tab">State</a></li>
                                            <li><a href="#tab5info" data-toggle="tab">District</a></li>
                                            <li><a href="#tab6info" data-toggle="tab">Mandal</a></li>
                                        </ul>
                                    </li>
                                </ul>
                        </div>
                        <div class="panel-body">
                            <div class="tab-content">
                                <div class="tab-pane row fade in active" id="tab1info">
                                        <user-home></user-home>
                                    </div>
                                <div class="tab-pane fade row" id="tab2info">
                                    
                                    <user-profile></user-profile>
                                </div>
                                <div class="tab-pane fade" id="tab3info">Info 3</div>
                                <div class="tab-pane fade" id="tab4info">Info 4</div>
                                <div class="tab-pane fade" id="tab5info">Info 5</div>
                                <div class="tab-pane fade" id="tab6info">Info 6</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>

</div>
<!-- <script>
        $('#myTab').tabCollapse();
</script> -->
<!--<user-home></user-home>
 <user-profile onclick=""></user-profile> -->



<!-- <a class="btn btn-link">Home</a>
<a  class="btn btn-link">Profile</a> -->

