<div id="hero">
        <app-navbar></app-navbar>
        <div class="container"> 
            <div class="row hero-content pt-lg-6 pb-lg-6 pt-5">
                <div class="col-md-6 col-sm-12">
                    <h1 class="text-uppercase text-center text-md-left">Welcome to the new India.</h1>
                    <h4 class="text-uppercase text-center text-md-left">This is not only your page to do and plan something to your native place but also interact with your childhood friends of your village...!!!</h4>
                  </div>
                    
                  <router-outlet></router-outlet>
                  
                <div class="col-md-6 col-sm-12 text-center">
                    <img src="/assets/overlay1.png" class="hero-img mt-5 mt-md-0">
                </div>
            </div>
        </div>
      
       <div id="join-container" class="pt-lg-6 pb-lg-6 pt-5">
        <div class="container text-center">
            <h2 class="text-uppercase">The Place of Great people. Welcomes you to participate in overall growth of your Sthali</h2>
            <h4 class="text-uppercase">This not only benefits you and your family but the whole nation.</h4>
        </div> 
      </div>
      
      
</div>